.Auth-Form {
  background-color: #fff;
  height: 440px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-rendering: optimizeLegibility;
  position: relative;
}

.Auth-Form-outer {
  display: table;
  position: absolute;
  background-color: #ffd454;
  height: 100%;
  width: 100%;
}

.Auth-Form-middle {
  display: table-cell;
  vertical-align: middle;
}

.Auth-Form-inner {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.Auth-Form-tab-group {
  background-color: #797;
  padding: 0;
  margin-bottom: 10px;
}

.Auth-Form-tab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.Auth-Form-active {
  width: 150px; 
  height: 50px; 
  background-color: #f17f29;
}

.Auth-Form-inactive {
  width: 150px; 
  height: 50px; 
}

.Auth-Form label {
  display: block;
  margin-left: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #f17f29;
}

.Auth-Form span {
  margin-left: 25px;
  color: #ff1931;
  font-size: 14px;
  font-weight: 500;
}

.Auth-Form-header {
  text-align: center;
  color: #f17f29;
  margin-top: 0;
  margin-bottom: 10px;
}

.Auth-Form-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 36px;
  margin-left: 25px;
  padding-left: 5px;
  font-size: 20px;
  color: #f17f29;
}

.Auth-Form-submit-btn {
  height: 50px;
  width: 300px;
  background-color: #f17f29;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
}