.CoverFlow {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 450px;
  overflow: hidden;
}

.CoverFlow-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-left: -85px;
  margin-top: -80px;
  transform-style: preserve-3d;
  transition: all 300ms ease-in;
}

@media (max-width: 600px) {
  .CoverFlow-box {
    margin-left: -100px;
    margin-top: -70px;
  }
}